name: Wiki

on:
  push:
    paths:
      # Trigger only when wiki directory changes
      - "_wiki/**"
    branches:
      # And only on master branch
      - master

jobs:
  Update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Push Wiki Changes
        uses: Andrew-Chen-Wang/github-wiki-action@v4
        env:
          # Make sure you have that / at the end. We use rsync
          # WIKI_DIR's default is wiki/
          WIKI_DIR: _wiki/
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GH_MAIL: ${{ secrets.OWNER_EMAIL }}
          GH_NAME: ${{ github.repository_owner }}
